<div class="container bgprime">
  <div class="row">
      <div class="col-lg-12 prime">
          <img (click)="close()" src="../../../../assets/images/close.png"/>
          <div class="innerText">


            <h4 class="header-text">Introducing  <br> TamilMatrimony <span>PRIME</span></h4>
          </div>
          <h5 class="primeText">With <span>PRIME</span>  you get: </h5>
          <ul>
              <li> 100% ID verified, high-quality profiles</li>
              <li> Matches with photos and complete information</li>
              <li> The finest and most trustworthy profiles to choose from</li>
          </ul>
          <p>*Patent Pending</p>
      </div>
      <div class="col-lg-12 regular">
          <h5>Be a part of <span>PRIME </span> for free with these simple steps:</h5>
          <h6>Add your photo to join the exclusive club</h6>
          <button (click)="myfile.click()">Upload Photo</button>
          <input style="display: none;" type="file" #myfile name="myfile">
          <h6>Get your profile verified with an ID proof</h6>
          <button>Verify Your Profile</button>
      </div>
  </div>
</div>
